h1{
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
#jumbo{
  background-image: url('../images/bk1.jpg');
  color: black;
  background-attachment: inherit;
  min-height: 10px;
  margin-top: 55px;
}
#footer{
  clear:both;
  padding: 10px;
  color: white;
  background-color: #369;
}
body{
  background-color: black;
}
h2{
  color: dimgrey;
}
